.my-photo {
    &__header {
        display: flex;
        align-items: center;
        text-align: center;
        width: auto;
        height: clamp(3.125rem, calc(0.921rem + 11.02vw), 10.563rem); //169
        margin: auto;
    }
    &__h2 {
        font-size: clamp(1.25rem, calc(0.731rem + 2.59vw), 3rem); //48
        line-height: 80px;
        margin: auto;
    }
    &__jop {
        margin-top: 25px;
        display: flex;
        height: auto;
        justify-content: space-between;
        align-items: stretch; 
    }
    &__left {
        display: flex;
        gap: 12px 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
    }
    &__mid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px 0px 10px;
    }
    &__right {
        display: flex;
        gap: 12px 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }
    &__wide {
        width: 550px;;
        height: auto;     
    }
    &__long {
        width: 360px;
        height: auto;        
    }
}